<div class="my-4">
    <h3 class="text-center my-5">Delivered Projects</h3>

    <ul class="nav nav-tabs my-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="2024-tab" data-bs-toggle="tab" data-bs-target="#2024-tab-pane" type="button" role="tab" aria-controls="2024-tab-pane" aria-selected="true">2024</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2022-tab" data-bs-toggle="tab" data-bs-target="#2022-tab-pane" type="button" role="tab" aria-controls="2022-tab-pane" aria-selected="false">2022</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2020-tab" data-bs-toggle="tab" data-bs-target="#2020-tab-pane" type="button" role="tab" aria-controls="2020-tab-pane" aria-selected="false">2020</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2018-tab" data-bs-toggle="tab" data-bs-target="#2018-tab-pane" type="button" role="tab" aria-controls="2018-tab-pane" aria-selected="false">2018</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2016-tab" data-bs-toggle="tab" data-bs-target="#2016-tab-pane" type="button" role="tab" aria-controls="2016-tab-pane" aria-selected="false">2016</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2014-tab" data-bs-toggle="tab" data-bs-target="#2014-tab-pane" type="button" role="tab" aria-controls="2014-tab-pane" aria-selected="false">2014</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="2011-tab" data-bs-toggle="tab" data-bs-target="#2011-tab-pane" type="button" role="tab" aria-controls="2011-tab-pane" aria-selected="false">2011</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="2024-tab-pane" role="tabpanel" aria-labelledby="2024-tab" tabindex="0">
            {% set projects = [
                { name: 'TruHaven Towers', location: 'Shimla', img: '1.jpg'},
                { name: 'TruHaven Elite Homes', location: 'New Chandigarh', img: '7.webp'},
                { name: 'TruHaven Shopping Square', location: 'Patiala Highway, Zirakpur', img: '10.webp'},
            ] %}
            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="2022-tab-pane" role="tabpanel" aria-labelledby="2022-tab" tabindex="0">
            {% set projects = [
                { name: 'Gateway of Dreams', location: 'Patiala Highway, Zirakpur', img: '8.webp'},
                { name: 'Olivia Floors', location: 'Sector 116, Mohali', img: '9.webp'},
            ] %}

            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="tab-pane fade" id="2020-tab-pane" role="tabpanel" aria-labelledby="2020-tab" tabindex="0">
            {% set projects = [
                { name: 'City Square', location: 'Sector 127, Mohali', img: '11.webp'},
                { name: 'Housing Park Phase 2', location: 'Derabassi', img: '12.webp'},
                { name: 'Lifestyle Sky Homes', location: 'Sector 116, Mohali', img: '13.webp'},
            ] %}
            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="2018-tab-pane" role="tabpanel" aria-labelledby="2018-tab" tabindex="0">
            {% set projects = [
                { name: 'Lifestyle Residency', location: 'Sector 116, Mohali', img: '14.webp'},
                { name: 'Platina Floors', location: 'Sector 127, Mohali', img: '15.webp'},
            ] %}
            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="2016-tab-pane" role="tabpanel" aria-labelledby="2016-tab" tabindex="0">
            {% set projects = [
                { name: 'Housing Park Phase 1', location: 'Derabassi', img: '16.webp'},
                { name: 'Exotic Floors', location: 'Sector 127, Mohali', img: '17.webp'},
                { name: 'Elitna Floors', location: 'Sector 127, Mohali', img: '18.webp'},
            ] %}
            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="2014-tab-pane" role="tabpanel" aria-labelledby="2014-tab" tabindex="0">
            {% set projects = [
                { name: 'Home Extension 3', location: 'Sector 127, Mohali', img: '19.webp'},
            ] %}

            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-pane fade" id="2011-tab-pane" role="tabpanel" aria-labelledby="2011-tab" tabindex="0">
            {% set projects = [
                { name: 'North Vally', location: 'Kharar, Mohali', img: '20.webp'},
                { name: 'TruHaven Parivaar', location: 'Mohali', img: '21.png'},
            ] %}
            <div class="owl-carousel delivered_project">
                {% for project in projects %}
                    <div class="item">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{ asset('photos/residentialProperty/' ~project.img) }}" alt="{{ project.name }}" class="card-img-top img-fluid" style="height: 200px; object-fit: cover;">
                            <div class="card-body text-center">
                                <h4><a href="#" class="text-decoration-none text-dark">{{ project.name }}</a></h4>
                                <div class="showLocation">
                                    <p>{{ project.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>